@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
}

.header__slogan {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.header__items {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 20px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__item:hover {
  color: #34C759;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.page {
  background: black;
}

.no-webp .page__about{
  background: url("../img/header/image.jpg") 0 0/cover no-repeat; }

.page__about {
  padding: 170px 0px 400px 0px;
}

.about__header:not(:last-child) {
  margin: 0px 0px 70px 0px;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 915px;
          flex: 0 1 915px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.about__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header-about {
  color: #FFFFFF;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-about__title {
  max-width: 1100px;
  font-size: 72px;
  line-height: 1.16;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  font-weight: 900;
}

.header-about__title span {
  font-weight: 400;
}

.header-about__title:not(:last-child) {
  margin-bottom: 16px;
}

.header-about__sub-title {
  max-width: 595px;
  line-height: 1.62;
  opacity: 0.7;
}

.header-about__sub-title:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.header-about__button {
  background: #34C759;
  border-radius: 43px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 72px;
  padding: 0 58px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: #1A1A1A;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-about__button:hover {
  color: white;
  background: rgba(38, 158, 68, 0.8431372549);
}

.item-about {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  color: white;
  min-width: 174px;
  padding: 0 15px;
}

.item-about__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  max-height: 20px;
}

.item-about__icon:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.item-about__title {
  line-height: 1.88;
}

.item-about__sub-title {
  font-size: 14px;
  line-height: 1.78;
  opacity: 0.5;
}

.page__basic {
  margin: 0px 0px 110px 0px;
}

.header-block {
  max-width: 577px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 110px;
}

.header-block::after {
  content: "";
  position: absolute;
  top: 130px;
  width: 56px;
  height: 3px;
  background: #34C759;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-block:hover::after {
  width: 100%;
}

.header-block__title {
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0.2em;
  color: #D9D9D9;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.header-block__sub-title {
  font-weight: 900;
  font-size: 100px;
  letter-spacing: 0.2em;
  color: #303030;
  text-transform: uppercase;
}

.basic__header {
  margin-bottom: 66px;
}

.basic .header-block::after {
  content: "";
  width: 0;
}

.basic__container {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 110px 0px 90px 0px;
  margin-top: -240px;
}

.basic__body:not(:last-child) {
  margin: 0px 0px 90px 0px;
}

.basic__main-text {
  max-width: 734px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 1.88;
  color: #A6A6A6;
}

.basic__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60px;
          flex: 0 1 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #303030;
}

.basic__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
}

.basic__content {
  max-width: 980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 734px;
          flex: 0 1 734px;
}

.slider-basic__pic-container {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47.6839237057%;
          flex: 0 1 47.6839237057%;
  padding-bottom: 36.8%;
}

.slider-basic__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.work {
  margin: 0px 0px 110px 0px;
}

.work__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__item {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  min-width: 240px;
}

.content-item {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 24px 24px 42px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-item__title {
  font-size: 22px;
  line-height: 1.82;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.content-item__title::after {
  content: " ";
  display: block;
  width: 56px;
  height: 2px;
  background-color: #34C759;
  margin: 10px 0 24px 0;
}

.content-item__text {
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
}

.content-item:hover {
  background-color: #34C759;
  color: #191919;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.content-item:hover .content-item__title {
  color: #191919;
}

.content-item:hover .content-item__text {
  color: #191919;
}

.content-item:hover .content-item__title::after {
  background: #191919;
}

.dishes {
  margin: 0px 0px 110px 0px;
}

.dishes__items {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}

.dishes__item {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  min-width: 300px;
}

.dishes__content {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.dishes__content:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.content-dishes__pic-container {
  position: relative;
  padding-bottom: 74.2857142857%;
}

.content-dishes__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-dishes__main-body {
  padding: 29px 30px 24px 30px;
}

.dishes-content__label:not(:last-child) {
  margin-bottom: 20px;
}

.dishes-content__title {
  font-size: 32px;
  line-height: 30px;
  color: #D9D9D9;
}

.dishes-content__sub-title {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.15px;
  color: #A4A8B2;
}

.dishes-content__text {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1625px;
  color: #85878C;
}

.dishes-content__text:not(:last-child) {
  margin-bottom: 30px;
}

.dishes-content__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dishes-content__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
  padding-right: 0px;
}

.dishes-content__star:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(84%) sepia(58%) saturate(3762%) hue-rotate(328deg) brightness(101%) contrast(95%);
          filter: brightness(0) saturate(100%) invert(84%) sepia(58%) saturate(3762%) hue-rotate(328deg) brightness(101%) contrast(95%);
}

.dishes-content__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  font-weight: 900;
  font-size: 10px;
  line-height: 40px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 34px;
  border: 2px solid #303030;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.dishes-content__button:hover {
  background: #34C759;
  color: #252525;
}

.page__recipe {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 110px 0px;
}

.recipe__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recipe__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

.no-webp .main-poster{
  background: url("../img/recipe/image.png") center/cover no-repeat; }

.main-poster {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 90px;
  max-height: 510px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-poster:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.main-poster__body {
  max-width: 359px;
  text-align: center;
  margin: 0 auto;
}

.main-poster__body:not(:last-child) {
  margin-bottom: 60px;
}

.main-poster__time-food:not(:last-child) {
  margin: 0px 0px 65px 0px;
}

.main-poster__data,
.main-poster__name {
  font-size: 14px;
  line-height: 2.14;
  color: #FFFFFF;
}

.main-poster__data:not(:last-child) {
  margin: 0px 0px 25px 0px;
}

.main-poster__text {
  font-size: 24px;
  line-height: 1.67;
  color: #FFFFFF;
}

.main-poster__text:not(:last-child) {
  margin: 0px 0px 45px 0px;
}

.main-poster__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-poster__pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4px;
}

.time-food {
  font-weight: 900;
  font-size: 10px;
  line-height: 2.5;
  min-height: 25px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.meal-menu {
  padding: 30px 25px 25px 30px;
  color: white;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.meal-menu:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.meal-menu:hover:not(:nth-child(2)) {
  background-color: #34C759;
  color: #252525;
}

.meal-menu:hover .time-food {
  background: #000000;
  color: white;
}

.meal-menu:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.no-webp .meal-menu_bg{
  background: url("../img/recipe/image-2.png") center/cover no-repeat; }

.meal-menu__title {
  font-size: 16px;
  line-height: 1.88;
}

.meal-menu__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.meal-menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.meal-menu__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meal-menu__data {
  white-space: nowrap;
}

.meal-menu__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.meal-menu__pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 15px;
  max-width: 380px;
  min-width: 320px;
}

.content-social {
  height: 100%;
  background-color: #252525;
  padding: 25px 0px 0px 0px;
}

.content-social__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 25px 25px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #303030;
}

.content-social__body {
  padding: 20px 25px 25px 25px;
}

.no-webp .content-social__body_padd{
  background: url("../img/social/content.png") center/cover no-repeat; }

.content-social__body_padd {
  padding: 0;
  height: 239px;
}

.content-social__data {
  font-size: 14px;
  line-height: 30px;
  color: #737373;
}

.content-social__data:not(:last-child) {
  margin-bottom: 10px;
}

.content-social__text {
  line-height: 2.14;
  max-height: 154px;
  overflow: auto;
  color: rgba(255, 255, 255, 0.7);
}

.content-social__label {
  line-height: 30px;
  color: #34C759;
}

.header-social__pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.header-social__social-network {
  color: #BFBFBF;
}

.header-social__btn {
  font-weight: 900;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #737373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 40px;
  padding: 0 19px;
  border: 2px solid #303030;
  border-radius: 30px;
}

@media (max-width: 1100.98px) {
  .dishes-content__rating {
    margin: 0px 0px 20px 0px;
  }

  .dishes-content__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 991.98px) {
  .page__about {
    padding: 130px 0px 350px 0px;
  }

  .about__header:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }

  .header-about__title {
    font-size: 60px;
  }

  .page__basic {
    margin: 0px 0px 50px 0px;
  }

  .header-block__title {
    font-size: 25px;
  }

  .header-block__sub-title {
    font-size: 80px;
  }

  .basic__header {
    margin-bottom: 30px;
  }

  .basic__container {
    padding: 60px 0px 40px 0px;
  }

  .basic__body:not(:last-child) {
    margin: 0px 0px 60px 0px;
  }

  .work {
    margin: 0px 0px 50px 0px;
  }

  .work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .dishes {
    margin: 0px 0px 50px 0px;
  }

  .page__recipe {
    margin: 0px 0px 50px 0px;
  }

  .recipe__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .recipe__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .main-poster {
    padding: 40px 60px;
  }

  .meal-menu__title {
    text-align: center;
  }

  .meal-menu__footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 15px;
  }
}

@media (max-width: 767.98px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__pic-container {
    margin-bottom: 20px;
  }

  .header__items {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .header__item {
    font-size: 17px;
  }

  .page__about {
    padding: 110px 0px 300px 0px;
  }

  .about__header:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .header-about__title {
    font-size: 40px;
  }

  .header-block {
    margin-bottom: 70px;
  }

  .header-block::after {
    top: 100px;
  }

  .header-block__title {
    font-size: 23px;
  }

  .slider-basic {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .slider-basic__pic-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .slider-basic__pic-container:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }

  .dishes__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-width: 0px;
  }

  .social__items {
    row-gap: 15px;
  }

  .content-social__header {
    padding: 0px 15px 15px 15px;
  }

  .header-social__pic-container {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}

@media (max-width: 767.68px) {
  .basic__line {
    display: none;
  }

  .basic__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (max-width: 600px) {
  .header-block__sub-title {
    font-size: 70px;
  }
}

@media (max-width: 560px) {
  .item-about__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 500.98px) {
  .work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 424.98px) {
  .dishes__items {
    row-gap: 15px;
  }

  .recipe__item:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }

  .meal-menu:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 400.98px) {
  .header-block::after {
    top: 80px;
  }
}

@media (max-width: 400px) {
  .header-block__title {
    font-size: 20px;
  }

  .header-block__sub-title {
    font-size: 53px;
  }
}

.webp .page__about{ background: url(../img/header/image.webp) 0 0/cover no-repeat; }

.webp .main-poster{ background: url(../img/recipe/image.webp) center/cover no-repeat; }

.webp .meal-menu_bg{ background: url(../img/recipe/image-2.webp) center/cover no-repeat; }

.webp .content-social__body_padd{ background: url(../img/social/content.webp) center/cover no-repeat; }